body {
    background-color: dimgray;
}

.bf {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.bf-title {
    font-size: 5vh;
}

.bf-text {
    font-size: 1.5em;
}

.bf-input, .bf-output {
    font-size: 18pt;
    height: 300px;
    width: 600px;
    resize: both;
}



.bf-button {
    background-color: #66a300;
    /* Olive green */
    border: none;
    color: white;
    display: inline-block;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 32px;
    margin-top: 10px;
}